<% if flash.any? %>
  <div class="quicktrip-flashes">
    <% flash.each do |type, message| %>
      <% next if message.blank? %>

      <% flash_class =
        case type.to_sym
        when :notice then "quicktrip-flash-notice"
        when :alert then "quicktrip-flash-alert"
        else "quicktrip-flash-notice"
        end
      %>

      <div class="quicktrip-flash <%= flash_class %>">
        <span><%= message %></span>
        <button type="button" class="quicktrip-flash-close" aria-label="Fechar">×</button>
      </div>
    <% end %>
  </div>
<% end %>
